@use "variables" as *;

.card {
    max-width: 375px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    padding: 25px 23px 23px 23px;
    background-color: $card-bg-color;
    font-family: "Outfit", sans-serif;

    &__img-wrapper {
        position: relative;
        margin-bottom: 20px;
    }

    &__first-img {
        max-width: 100%;
        border-radius: 10px;
    }
    &__img-overlay {
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 10px;
        background: rgba($primary-color, 0.4);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__title {
        font-weight: bold;
        color: $title-color;
        font-size: 22px;
    }

    &__text {
        margin-top: 14px;
        font-size: $paragraph-font-size;
        line-height: 1.6;
        font-weight: 300;
        color: $text-color;
    }

    &__status {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $line-color;

        &--price,
        &--countdown {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 15px;
        }
    }

    &__price {
        color: $primary-color;
        margin-left: 7px;
    }

    &__countdown {
        color: $text-color;
        margin-left: 7px;
    }

    &__footer {
        margin-top: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-weight: 300;
        font-size: 15.5px;
    }

    &__avatar {
        width: 33px;
        margin-right: 15px;
        border: 1px solid $title-color;
        border-radius: 50%;
    }

    &__author {
        color: $text-color;

        &__name {
            color: $title-color;
        }
    }
}

@media only screen and (min-width: 1440px) {
    .card {
        max-width: 350px;
        padding-bottom: 30px;

        &__img-overlay:hover {
            opacity: 1;
        }

        &__title:hover {
            cursor: pointer;
            color: $primary-color;
        }

        &__text {
            font-size: 18px;
            line-height: 1.5;
            margin-bottom: 24px;
        }

        &__status--price,
        &__status--countdown {
            margin-bottom: 22px;
            font-size: 16.5px;
        }

        &__footer {
            margin-top: 15px;
            font-size: 16px;
            word-spacing: 2px;
        }

        &__author__name:hover {
            cursor: pointer;
            color: $primary-color;
        }
    }
}
